#map {
  height: 90vh;
  width: 100%;
}

.filters {
  margin: 10px;
  font-family: sans-serif;
  background: white;
  padding: 8px 10px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
}

.legend {
  background: white;
  padding: 8px;
  font-size: 13px;
  line-height: 18px;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.legend i {
  vertical-align: middle;
  margin-right: 6px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #000;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

.leaflet-marker-icon, .leaflet-pane .leaflet-popup-pane {
  pointer-events: auto !important;
}
